:root {
  --primary-textSize: 2rem;
  --primary-text-color: #3b4966;
  --text-color: blue;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexItemCenter {
  display: flex;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.ulInline {
  display: flex;
}

.wFull {
  width: 100%;
}

.hFull {
  height: 100%;
}

.wScreen {
  width: 100vw;
}
.hScreen {
  width: 100vw;
}

.wHalf {
  width: 50%;
}

.hHalf {
  height: 50%;
}

button {
  color: white;
  background-color: blue;
  padding: 15px;
  font-size: calc(var(--primary-textSize) - 10px);
  font-weight: bold;
}

.btn-wide {
  display: block;
  width: 100%;
}

h1 {
  font-size: clamp(25px, 3vw + 1rem, 5vw) !important;
}
p {
  font-size: clamp(15px, 1vw, 2vw) !important;
}

hr {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 90%;
  font-size: var(--primary-textSize);
}

ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

main {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bgBanner {
  width: 100vw;
  text-align: center;
  height: 70vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://doctime.com.bd/landing/home/bg_hero.webp");
}

.grid-container {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  position: absolute;
  bottom: -15%;
}

.grid-item {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
}

.downloadSvg {
  width: 30%;
  gap: 15px;
}

/* Media query for tablets */
.bgBanner {
  width: 100vw; /* Full viewport width */
  height: 70vh; /* 70% of the viewport height */
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover; /* Ensure the background image covers the entire area */
  background-position: center; /* Center the background image */
  background-image: url("https://doctime.com.bd/landing/home/bg_hero.webp");
  display: flex; /* Use flexbox for centering content */
  justify-content: center;
  align-items: center;
}

.steps {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.steps-vertical {
  align-items: flex-start;
}

.step {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #6b7280;
  position: relative;
  counter-increment: step-counter;
  font-size: 1.5rem;
  list-style: none;
}

.step-primary {
  border-color: #3b82f6;
  background-color: #e0f2fe;
  color: #1e3a8a;
}

.step:before {
  content: counter(step-counter) ". ";
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 1rem;
  color: #3b82f6;
  font-size: 1.5rem !important ;

  width: 20px;
}

.whyUse {
  width: 90%;
}

.context {
  gap: 15px;
  font-size: 2vw;
}

.whyUseContainer {
  display: flex;
  justify-self: start;
  align-items: center;
  width: 70%;
}

.whyUse {
  position: relative;
  width: 100vw;
}
.whyUse h1 {
  font-size: clamp(25px, 5vw, 85px) !important;
}

.contextSide > p {
  font-size: 6rem !important;
}

.step {
  font-size: 2rem !important ;
}

.imgSide {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 50vw;
}

/* fewTapscontainer */
.fewTaps {
  width: 90%;
  margin-top: 200px;
}
.fewTapscontainer {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
}

.tapDivs {
  gap: 5px;
}

.tapDivs > i {
  font-size: 4rem !important;
}

.tapDivs > p {
  color: #4b8cf7;
  font-size: 3rem;
}

.insideText > p {
  font-size: ;
}

.tapimg {
  display: flex;
  align-items: center;
  align-items: center;
}

/* whenUse */

.whenUse {
  width: 90%;
}

.whenImgSide img {
  max-width: 90vw;
}

.whenUse h2 {
  font-size: 3rem;
}

/* easySteps */

.easySteps {
  width: 90%;
}

.stepsImg {
  display: flex;
  justify-content: center;
}

.easyStepsTexts {
  gap: 20px;
}

.stepsImg {
  width: 50%;
}
.upperImg {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  /* max-width: 100%; */
  max-width: 100vw;
}

.upperImg img {
  max-width: 100%;
}

.innerImg {
  border-radius: 50px;
  max-width: 350px;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconDiv {
  background-color: #009aff;
  border-radius: 20%;
}

.easyListImgs {
  gap: 50px;
}

.easyListImgs i {
  font-size: 4rem;
  padding: 50px;
}

.easy_stepsHeading h1 {
  font-size: 4.5rem !important;
}
.easyStepsTexts h2 {
  font-size: 3rem;
}

.easy_stepsHeading p,
.easyListImgs p {
  font-size: 2rem;
}

/* protextTionPlans */
.protextTionPlans {
  width: 90%;
}

.protextTionPlans h1 {
  font-size: 4rem;
}

.plansCard {
  width: 80%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.header img {
  width: 80px;
  height: 80px;
}

.card {
  font-size: 1.7rem;
  padding: 15px;
  border: gray 2px solid;
  border-radius: 20px;
  gap: 20px;
}

.lowerSideText {
  gap: 12px;
}

.lowerRow {
  gap: 20px;
}

.card button {
  background-color: #136afb;
  border-radius: 12px;
}

/* doctorsServices */
.doctorsServices {
  width: 90%;
}

.doctorsServices h2 {
  font-size: 4rem;
}

.doctorsServices p {
  font-size: 2rem;
}

.insideText {
  width: 40%;
}

.doctorsServices img {
  width: 100%;
  max-width: 100vw;
}

/* servicesCards */
.servicesCards {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, minmax(450px, 1fr));
  gap: 1rem;
}

.serviceOnecard {
  align-items: start;
}

.textSide {
  padding-right: 1rem;
  width: fit-content;
}

.textSide h2 {
  font-size: 2rem;
  font-weight: bold;
}

.textSide p {
  font-size: 1.5rem;
}

.imgDiv {
  padding: 20px;
  width: 4vw;
  min-width: 40px;
  height: 4vw;
  min-height: 40px;
}

.imgDiv img {
  width: 100%;
  height: 100%;
}

/* availableSpecialities */

.mainavailableSpecialities {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainavailableSpecialities h1 {
  font-size: clamp(25px, 5vw, 85px) !important;
}

.availableSpecialities {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-items: start;
  align-items: center;
}

.oneList {
  font-size: clamp(30px);
  gap: 1rem;
  font-size: 20px;
  width: fit-content;
}

.iconColor {
  color: #34c300;
}

/* rating */

.rating {
  width: 100%;
}

.ratingDownDiv {
  width: 100%;
}

.leftSide {
  flex: 1;
}

.leftSide p {
  font-size: clamp (30px, 2rem, 50px);
}

.start {
  font-size: clamp(45px, 2rem, 3rem);
}

/* Left Side container */
.leftSide {
  width: 60%;
  padding: 20px;
}

.averageRating {
  font-size: 18px;
  font-weight: 600;
}

.heading {
  font-size: 25px;
  margin-right: 20px;
}

/* Star icon styles */
.fa {
  font-size: 22px;
}

.checked {
  color: orange;
}

/* Row layout for star ratings breakdown */
.row {
  width: 70%;
  margin-top: 20px;
}

.side {
  float: left;
  width: 15%;
  margin-top: 10px;
  font-size: 16px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

.right {
  text-align: right;
  font-size: 16px;
}

/* Clear floats */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Bar container styling */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #04aa6d;
}
.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}
.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}
.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}
.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

.divider {
  border: 3px solid #f1f1f1;
  margin: 20px 0;
}

.rightSide {
  flex: 1;
}

/* parallaxEffect */

.parallaxEffect {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.parallaxDiv {
  width: 100vw;
  height: 70%;
  background-image: url("https://doctime.com.bd/landing/home/download__app__bg__images%20copy.webp");
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  z-index: 1;
}

.paraContainer {
  width: 80%;
}

.parallaxDiv::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(34, 32, 31, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.leftSideParallax {
  flex: 2;
}

.leftSideParallax {
  /* font-size: 30px; */
  font-size: clamp(30px, 3vw, 40px);
}
.leftSideParallax p {
  /* font-size: 30px; */
  font-size: clamp(25px, 2vw, 35px);
}

.rightSideParallax {
  height: 100%;
  gap: 1.8rem;
}

.scanDiv {
  width: 200px;
}

.storeSide {
  width: 200px;
}

/* question */
.question {
  width: 90%;
}

/* media */

@media (max-width: 1536px) {
  html {
    font-size: 13px;
  }
  .grid-container {
    position: static;
    grid-template-columns: repeat(2, 1fr);
  }
  .imgSide {
    display: none;
  }
  .tapimg {
    display: none;
  }
  .whenUse {
    flex-direction: column;
  }
  .whenUse h1 {
    font-size: 4rem !important;
  }
  .whenUse h2 {
    font-size: 2rem !important;
  }

  .whenDivText {
    width: 70%;
  }

  .whenDivText p {
    font-size: 1.8rem;
  }
  .whenImgSide {
    max-width: 100%;
  }
  .easyStepsContainer {
    flex-direction: column;
  }
  .easyStepsTexts {
    width: 100%;
    gap: 50px;
  }

  .easy_stepsHeading h1 {
    font-size: 4.5rem !important;
  }
  .easyStepsTexts h2 {
    font-size: 2.5rem !important;
  }

  .easy_stepsHeading p,
  .easyListImgs p {
    font-size: 2.3rem;
  }

  .plansCard {
    grid-template-columns: repeat(2, 1fr);
  }

  .doctorsServices {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
  }
  .insideText {
    width: 70%;
  }

  .serviceOnecard {
    flex-grow: 1;
    flex-basis: 0;
    width: fit-content;
  }

  .servicesCards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
  }

  .availableSpecialities {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .container {
    flex-direction: column;
  }

  .leftSide {
    width: 100%;
  }
  .row {
    width: 100% !important;
  }

  .rightSide {
    width: 90%;
  }
  .rightSide img {
    width: 100%;
  }
  .parallaxDiv {
    height: auto;
    gap: 2rem;
  }
}
/* Media query for tablets (768px - 1024px) */
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }

  .bgBanner {
    height: 50vh; /* Reduce height for tablets */
  }

  .easy_stepsHeading h1 {
    font-size: 3.5rem !important;
  }
  .easyStepsTexts h2 {
    font-size: 1.5rem !important;
  }

  .easy_stepsHeading p {
    font-size: 2rem;
  }
  .servicesCards {
    grid-template-columns: repeat(1, 1fr);
  }
  .paraContainer {
    flex-direction: column;
  }
  .rightSideParallax {
    flex-direction: column;
  }
  .scanDiv,
  .storeSide {
    width: clamp(100px, 3vw + 1rem, 300px);
  }
}

/* Media query for mobile devices (480px - 768px) */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .bgBanner {
    height: auto; /* Allow the height to adjust dynamically */
    padding: 16px; /* Add padding for better spacing */
    background-size: contain; /* Adjust background size for smaller screens */
  }
  .grid-container {
    position: static;
    grid-template-columns: repeat(2, 1fr);
  }
  nav ul {
    justify-content: space-between;
  }

  .listItem {
    display: none;
  }

  button {
    font-size: 2rem !important;
  }

  .spaceDiv {
    height: 0vh !important;
  }
  .fewTapscontainer {
    display: block;
  }
  .tapDivs {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 2px black solid;
    padding: 5px;
  }

  /* .stepsImg {
  width: 50%;
  background-color: red;
}
.upperImg {
  max-width: 100vw;
  background-color: gray;
}

.upperImg img{
  width: 100%;
}

.innerImg {
  max-width: 350px;
  height: 70%;
  background-color: green;
} */

  .plansCard {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query for very small devices (less than 480px) */
@media (max-width: 480px) {
  html {
    font-size: 8px;
  }
  h1 {
    font-size: clamp(50px, 3rem+1rem, 4rem);
  }
  p {
    font-size: 2rem !important;
  }
  .bgBanner {
    height: auto;
    padding: 8px; /* Reduce padding further */
    background-size: contain; /* Keep the image contained for very small screens */
  }
  .grid-container {
    width: 95%;
    grid-template-columns: repeat(1, 1fr);
  }
}
